.box-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 30%;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.box-container1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 90%;
    border-radius: 10px;
    padding-top: 20px;
}
.box-c{
    height: 500px;
}

.dog-img {
    height: 220px;
    width: 220px;
}
.breed-heading {
    font-size: 20px;
    font-family: Roboto;
}

.para-descritipion {
    padding: 10px;
}
.close-button{
    text-align:right;
}